
{{ if type == 'editor' }}
  <article>
    {{ partial:fieldsets/editor }}
  </article>
{{ /if }}

{{ if type == 'page_teaser' }}
  {{ partial:fieldsets/page_teaser }}
{{ /if }}

{{ if type == 'team_members' }}
  {{ partial:fieldsets/team/team_members }}
{{ /if }}

{{ if type == 'product_teaser' }}
  {{ partial:fieldsets/product_teaser }}
{{ /if }}

{{ if type == 'table' }}
  {{ partial:fieldsets/table }}
{{ /if }}

{{ if type == 'quote' }}
  {{ partial:fieldsets/quote }}
{{ /if }}

{{ if type == 'shop_opening_hours' }}
  {{ partial:fieldsets/shop_opening_hours }}
{{ /if }}

{{ if type == 'single_image' }}
  {{ partial:fieldsets/single_image }}
{{ /if }}

{{ if type == 'spacer' }}
  {{ partial:fieldsets/spacer }}
{{ /if }}



