{{ editor }}
  {{ if type == 'text' }}
    {{ text }}
  {{ /if }}

  {{ if type == 'link' }}
    <div>

      <a 
        href="{{ link }}"
        target="{{ target }}"
        aria-label="{{ link_text }}"
        class="
          flex 
          items-center 
          gap-x-8 
          no-underline 
          group">

        {{ partial:icons/chevron-right class="w-7 h-auto" }}

        <span 
          class="
          group-hover:underline 
          decoration-1 
          underline-offset-2">
          {{ link_text }}
        </span>

      </a>

    </div>
  {{ /if }}
{{ /editor }}
