<a 
  href="{{ url }}"
  aria-label="{{ title }}"
  class="
    relative 
    group 
    overflow-hidden">

  {{ partial:headings/h2 
      class="
        text-md 
        lg:text-lg 
        absolute 
        top-16 
        lg:top-31 
        left-20 
        z-20" }}
    {{ title }}
  {{ /partial:headings/h2 }}

  {{ partial:media/image 
    :image="main_image"
    :sizes="['2xl', 'xl', 'lg']" 
    class="w-full h-full aspect-[4/3] object-cover relative z-10 group-hover:scale-110 origin-center transition-transform duration-700"
  }}
  
</a>